* {
    font-family: 'roboto', 'Times New Roman', Times, serif;
    padding : 0;
    margin: 0;
}

.container {
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top:20px;
    
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    font-size: 22px;
    color: white;

    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;
  }

.item-1 {
    font-weight: bold;
    justify-content: left;
    text-align: center;
    padding: left 20px;
    font-size: xx-small;
}
.item-2 {

    justify-content: right;
    text-align: center;
    font-size:x-small;
}

.item-3{
    color: white;
    font-size: 20px;
}

.push-right {
    margin-right:auto;
}