body {
    font-family: roboto;
}

.container {
    font-family: roboto;
    height: 140px;
    padding: 16px;
    background: #1F2937;
    display: flex;
    align-items: top;
    gap: 8px;
    justify-content: space-evenly;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    font-size: 22px;
    color: white;
    background: #1F2937;
    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;
  }

.item-1 {

    margin-right: auto;
}
.item-2 {

    margin-right: 20px;
}

.push-right {
    margin-right:auto;
}