* {
    font-family: 'roboto', 'Times New Roman', Times, serif;
    padding : 0;
    margin: 0;
}

.container {
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;
    padding-top:20px;
    height: 70px;
    align-items:flex-start;
    flex-wrap: wrap;
}

.container_2 {
    background: #1F2937;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    padding-left: 150px;
    padding-right: 150px;
    padding-top:50px;
    align-items:flex-start;
    padding-bottom: 150px;
    flex-wrap: wrap;
}

ul {
    list-style-type: none;
    display: flex;
}

a {
    font-size: 22px;
    color: white;

    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;
  }

.item-1 {
    font-weight: bold;
    justify-content: left;
    text-align: center;
    padding: left 20px;
    font-size: xx-small;
}
.item-2 {

    justify-content: right;
    text-align: center;
    font-size:x-small;
}

.item-3{
    color: white;
    font-size: 23px;
    flex: 1;
    padding-right: 50px;
}

.item-4{
    flex: 1;
    padding-left: 50px;
    width: 50px;
}

.bt{
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: #3882f6;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    border-radius: 10px;
    font-size: 17px;
    margin-top: 15px;
}